<h2>問い合わせ一覧</h2>
<table class="table table-striped">
  <thead>
    <th width="200" heigth="24">日付</th>
    <th width="200" heigth="24">名前</th>
    <th width="200" heigth="24">タイトル</th>
  </thead>
  <tbody>
    <% @inquiries.each do |inquiry| %>
      <tr>
        <td><%= inquiry.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= inquiry.user.last_name %><%= inquiry.user.first_name %></td>
        <td><%= inquiry.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>