<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h5>
        日々ご勤務いただきありがとうございます。<br/>
        出社前に体温を計測いただき、体温と体調を入力いただくサイトです。<br/>
        お手数をおかけしますが、社内での感染拡大防止のためご協力をお願い致します。<br/>
        また気掛かりなことやご意見、ご要望がございまいたら、問い合わせフォームからお気軽にお問い合わせください。<br/>
        全てのご要望にはお応えできない場合がございますが、<br/>
        できる限り前向きに検討させていただきたいと存じます。<br/>
        大変な時期ではございますが、いつもご協力ありがとうございます。<br/>
      </h5>
    </div>
  </div>
</div>