<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= link_to new_condition_path, class:'btn btn-light border rounded-lg border-secondary' do %>
      　<i class="fas fa-thermometer-quarter" style="font-size: 100px"></i>
        <h2>体調入力画面へ</h2>
      <% end %>
    </div>
    <div class="col-lg-3">
      <%= link_to new_inquiry_path, class:'btn btn-light border rounded-lg border-secondary' do %>
        <i class="far fa-paper-plane" style="font-size: 100px"></i>
        <h2>お問い合わせへ</h2>
      <% end %>
    </div>
  </div>
</div>